:root {
    --google-gray-bg: #f1f1f1;
    --google-gray-text: #5F6368;
    --google-gray-border: #e4e4e4;
}

html, body {
    font-size: small;
    display: block; 
    margin: 0 auto;
    color: #222;
    font-family: arial, sans-serif;
    height: 100%;
}

nav {
    display: flex;
    padding: 10px;
    min-width: 600px;
}

.nav-icon {
    height: 20px;
}

#viewport {
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    margin: auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    height: 90%;
}

footer {
    display: flex;
    flex: 1;
    justify-self: flex-end;
    padding: 10px;
    min-width: 600px;
    background-color: var(--google-gray-bg);
    border-top: 1px solid var(--google-gray-border);
    color: var(--google-gray-text);
}

#nav-left, #footer-left {
    flex: 1;
    display: flex; 
    justify-content: flex-start;
}

#nav-right, #footer-right {
    flex: 1;
    display: flex; 
    justify-content: flex-end;
}

.bar > ul > li {
    margin: 0px 14px 0px 14px;
    white-space: nowrap;
}

ul, li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.section {
    margin: 15px;
}


#logo {
    width: 200px;
}

#search-form {
    display: block;
}

#search-bar {
    flex: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid var(--google-gray-border);
    border-radius: 50px;
    width: 400px;
    align-items: center;
    height: 34px;
}

#search-bar:hover {
    box-shadow: 0px 0px 4px var(--google-gray-border);
}

.search-icon {
    height: 20px;
    padding: 0px 10px 0px 10px;
}

input {
    display: flex;
    flex: 1;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 320px;
    border: none;
}

button {
    border: none;
    background-color: var(--google-gray-bg);
    border-radius: 4px;
    padding: 8px 10px 8px 10px;
    margin: 0px 5px 0px 5px;
    color: var(--google-gray-text);
}

button:hover {
    border: 1px solid var(--google-gray-text);
    color: black;
    margin: -1px 4px -1px 4px;
}